spring:
  datasource:
    url: jdbc:mysql://localhost:3306/shirotest?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8
    username: root
    password: '000910'
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: update
      naming:
        strategy: org.hibernate.cfg.DefaultComponentSafeNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect

  thymeleaf:
    cache: false
    mode: LEGACYHTML5